/* CARD */

section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding: 80px 40px 40px 80px;
}

.card {
  width: min(100%, 500px);
  background: rgba(255, 255, 255);
  border-radius: 16px;
  font-family: "Poppins", sans-serif;
  z-index: 5;
}

a > img {
  display: block;
  width: 100%;
  max-width: 500px;
  height: 75%;
  aspect-ratio: 5/3;
  object-fit: cover;
  object-position: 50% 50%;
  border-radius: 16px 16px 0 0;
  filter: contrast(70%);
  transition: all 0.6s cubic-bezier(0.43, 0.41, 0.22, 0.91);
  transform: translateY(-7mm);
}

a > img:hover {
  filter: contrast(100%);
}

.card-content > P {
  display: flex;
  flex-direction: column;
  padding: 10px 5px 10px;
  transform: translateY(-9mm);
}

.card-content > p {
  margin-bottom: 10px;
}

.card-content > p:nth-child(1) {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 10px;
  transform: translateY(-11mm);
  color: #008c8c;
}

.card-content > p:nth-child(2) {
  font-size: 0.8rem;
  font-weight: 400;
  transform: translateY(-11mm);
  color: #6b7280;
}

@media (max-width: 900px) {
  section {
     grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  section {
     grid-template-columns: repeat(1, 1fr);
  }
}

/* Основной контейнер для пагинации */
.pagination {
    display: flex;
    justify-content: center; /* Центрирование */
    list-style: none; /* Убираем маркеры */
    padding: 0;
    margin: 20px 0;
    z-index: 5;
}

/* Стили для элементов пагинации */
.pagination li {
    margin: 0 5px; /* Отступы между элементами */
}

/* Стили для ссылок */
.pagination a {
    text-decoration: none; /* Убираем подчеркивание */
    color: #008c8c; /* Цвет текста */
    padding: 10px 15px; /* Отступы внутри ссылок */
    border: 1px solid #008c8c; /* Граница */
    border-radius: 5px; /* Закругленные углы */
    transition: background-color 0.3s, color 0.3s; /* Плавные переходы */
}
.current {
 color: white;
}
/* Эффект при наведении */
.pagination a:hover {
    background-color: #999691; /* Цвет фона при наведении */
    color: white; /* Цвет текста при наведении */
}

a {
   margin: 3px;
}