/* Стили для блока с информацией о посте */
.post-info {
    padding: 58px;
    border-bottom: 1px solid #ddd; /* Разделитель */
    position: fixed;
    top: 313px;
    transform: translateX(-50%);


}

/* Стили для параграфов */
.post-info p {
    margin: 10px 0;
    font-size: 143px;
    color: #008c8c;
}

/* Стили для заголовка */
.post-info p.title {
    font-weight: bold;
    font-size: 40px;
    color: white;
    transform: translateX(33mm);
}

/* Стили для формы */
form {
    padding: 20px; /* Внутренние отступы */
    display: flex; /* Используем flexbox для выравнивания кнопок */
    justify-content: space-between; /* Распределяем кнопки по краям */
    z-index: 5;
}

.btn-action {
    z-index: 5;
    display: flex;
    gap: 121px;
    margin-bottom: 191px;
    flex-wrap: wrap;
    position: fixed;
    top: 705px;
    transform: translateX(-50%);
}

.btn-edit-post{
    border: groove;
    border-radius: 8px;
}

.btn-del-post{
     border: groove;
     border-radius: 8px;
}
.btn-action .button {
  background-color: #007BFF;
  border: none;
  color: white;
  padding: 12px 25px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
  display: inline-block;
  user-select: none;
}
.btn-action .submit {
  background-color: #007BFF;
  border: none;
  color: white;
  padding: 12px 25px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
  display: inline-block;
  user-select: none;
}
.btn-action .button:hover {
  background-color: #0056b3;
}

/* Отдельный стиль для кнопки удаления */
.btn-del-post .submit {
  background-color: #dc3545;
}

.btn-del-post .submit:hover {
  background-color: #a71d2a;
}
