{% extends 'advertisement/base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
  <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{% static 'CSS/css.css' %}">
  <body>
<div class="search">
    <form action="" method="get" style="">
        <input type="search" name="query">
        <button type="submit">Поиск</button>
    </form>
</div>
    <div class="container">
        <div class="sait-t">
            <h3>На cайте: {{ count_posts_t }} объявлений</h3>
        </div>
        <section class="section">
            {% for post in page_obj %}
                <div class="card">
                    {% if post.image %}
                        <a href="{{ post.get_absolute_url }}">
                            <img class="small-image" src="{{ post.image.url }}" alt="{{ post.title }}">
                        </a>
                    {% else %}
                        <a href="{{ post.get_absolute_url }}">
                            <img class="small-image" src="{% static 'IMG/No_image_available.png' %}" alt="No image available" width="400" height="auto">
                        </a>
                    {% endif %}
                    <div class="card-content">
                        <p><a href="{% url 'advertisement:user_posts' user_id=post.author.pk %}">
                            {{ post.author }}
                        </a></p>
                        <p>{{ post.title }}</p>
                        <p>{{ post.text }}</p>
                        <p><i>{{ post.created_at }}</i></p>
                    </div>
                </div>
            {% endfor %}

            <div class="pagination">
                 <span class="step-links">
                     {% if page_obj.has_previous %}
                         <a href="?page=1">&laquo;Первая</a>
                         <a href="?page={{ page_odj.previous_page_number }}">Предыдущая</a>
                     {% endif %}
                         <span class="current">
                         Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}
                         </span>
                     {% if page_obj.has_next %}
                         <a href="?page={{ page_obj.next_page_number }}">Cледующая</a>
                         <a href="?page={{ page_obj.paginator.num_pages }}">&laquo;Последняя&raquo;</a>
                     {% endif %}
                 </span>
            </div>
        </section>
    </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="{% static 'JS/pagination.js' %}"></script>
{% endblock content %}
</body>
</html>

