{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
  <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:100" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{% static 'CSS/style.css' %}">
</head>
  <body>
      <nav class="main-menu">
          <ul>
            <li>
              <a href="{% url 'advertisement:main_page' %}">
                <i class="fa fa-home nav-icon"></i>
                <span class="nav-text">Главная</span>
              </a>
            </li>

            <li>
              <a href="{% url 'advertisement:about' %}">
                <i class="fa fa-image nav-icon"></i>
                <span class="nav-text">Объявления</span>
              </a>
            </li>

            <li>
              <a href="file:///C:/Users/BanaBlack/OneDrive/Рабочий%20стол/Загатовка%20для%20интернет%20магазина/ADD_internet_blog/Magazin.html">
                <i class="fa fa-pen nav-icon"></i>
                <span class="nav-text">Блог</span>
              </a>
            </li>

            <li>
              <a href="{% url 'advertisement:support' %}">
                <i class="fa fa-envelope nav-icon"></i>
                <span class="nav-text">Поддержка</span>
              </a>
            </li>

            <li>
              <a href="{% url 'advertisement:about_a_site' %}">
                <i class="fa fa-bell nav-icon"></i>
                <span class="nav-text">О Сайте</span>
              </a>
            </li>

{% if not user.is_authenticated %}
            <ul class="logout">
                <div class="log">
                    <li>
                      <a href="{% url 'users:login' %}">
                          <span class="nav-text">Вход</span>
                      </a>
                    </li>
                </div>

                <div class="reg">
                    <li>
                      <a href="{% url 'users:register' %}">
                          <span class="nav-text">Регистрация</span>
                      </a>
                    </li>
                </div>
            </ul>

{% else %}
          <ul class="logout">
              <div class="log">
                <li>
                  <a href="{% url 'users:user_profile' pk=user.pk %}">
                    <span class="nav-text">{{ user.username }}</span>
                  </a>
                </li>
              </div>

            <div class="reg">
                <li>
                  <a href="{% url 'users:logout' %}">
                    <span class="nav-text">
                      Выход
                    </span>
                  </a>
                </li>
            </div>
          </ul>
{% endif %}
     </nav>

{% if messages %}
    {% for message in messages %}
      <div>{{ message }}</div>
    {% endfor %}
{% endif %}

    <div class="container">
	<div class="blob-c">
    <div class="blob"></div>
    <div class="blob one"></div>
    <div class="blob two"></div>
    <div class="blob three"></div>
    <div class="blob four"></div>
    <div class="blob five"></div>
    <div class="blob six"></div>
    <div class="blob seven"></div>
    </div>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
     <script src="{% static 'JS/script.js' %}"></script>
{% block content %}
{% endblock content %}
  </body>
</html>