{% extends 'advertisement/base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:100" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/delete.css' %}">
    <body>
        <div class="post-info">
            <p class="author">Автор - {{ post.author }}</p>
            <p class="title">Заголовок - {{ post.title }}</p>
        </div>

    <form method="post">
        {% csrf_token %}
            <button class="submit" type="submit">Удалить</button>
            <button class="button" type="button">
                <a href="{% url 'advertisement:read_post' slug=post.slug %}">Отменить</a>
            </button>
    </form>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="{% static 'JS/#.js' %}"></script>
{% endblock content %}
</body>
</html>